<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="https://www.github.com/charlienewey/stars4all-dashboard">GitHub</a></li>
          </ul>
        </div>
