{% extends "base.njk" %}

{% block head %}
{% endblock %}

{% block body %}
        <div class="row">
          <div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
            <h1>{{ project }} Metrics</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2">
            <h4>Project Appeal</h4>

            <div>
              <div id="projectAppeal" style="height: 300px;"></div>
            </div>

            <span class="text-muted">
              Total number of volunteers divided by the the active period of the project squared. The relative number of volunteers engaged.
            </span>
          </div>

          <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2">
            <h4>Public Contribution</h4>

            <div>
              <div id="publicContribution" style="height: 300px;"></div>
            </div>

            <span class="text-muted">
              Median number of classifications per volunteer, divided by active period of the project squared. The average amount of work produced by a volunteer.
            </span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2">
            <h4>Distribution of Effort</h4>

            <div>
              <div id="distributionOfEffort" style="height: 300px;"></div>
            </div>

            <span class="text-muted">
              A measure of equality in how classifications are distributed across all volunteers, to indicate whether work is completed by a small number of highly engaged users, or spread more equally.
            </span>
          </div>

          <div class="col-sm-4 col-sm-offset-3 col-md-4 col-md-offset-2">
            <h4>Sustained Engagement</h4>

            <div>
              <div id="sustainedEngagement" style="height: 300px;"></div>
            </div>

            <span class="text-muted">
              Median interval (weeks) between a user’s first and last classification, divided by the active period of the project squared. An indicator of how long volunteers stay engaged.
            </span>
          </div>
        </div>
{% endblock %}

{% block foot %}
    <script>var project_name = '{{ slug }}';</script>
    <script src="/static/js/dist/timeseries.bundle.js"></script>
{% endblock %}
